@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0; /* Fondo gris claro */
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
}

.container {
    text-align: center;
    z-index: 2; /* Asegura que el contenedor esté por encima del símbolo alquímico */
    position: relative;
}

h1 {
    font-size: 8em; /* Tamaño de fuente más grande */
    color: #28272b; /* Color del texto igual al fondo */
    text-shadow: -5px -5px 15px  #ffffff5a, 5px 5px 15px #a3b1c665;
    transition: text-shadow 0.3s ease; /* Transición suave */
    margin: 10px 20px 30px 20px;
    font-weight: 700; /* Añadido para usar la versión bold de Montserrat */
    line-height: 0.9; /* Añadimos esta línea para reducir el interlineado */
}

.coming-soon {
    font-size: 1.5em;
    color: #343434;
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 0.8;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Eliminar el margen superior */
}

.email-input {
    padding: 15px 20px; /* Más padding */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    border-radius: 25px; /* Esquinas redondeadas */
    border: none;
    background-color: #e0e0e0; /* Fondo un poco más gris que el fondo */
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.6), 5px 5px 15px rgba(163, 177, 198, 0.6); /* Sombra con menor opacidad */
    outline: none;
    margin-right: 10px; /* Espacio entre el campo de texto y el botón */
}

.send-button {
    padding: 15px 20px;
    font-size: 1.2em;
    border-radius: 25px;
    border: none;
    background-color: #333;
    color: #f0f0f0;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.6), 5px 5px 15px rgba(163, 177, 198, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.send-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #FFB3BA, #BFABFF); /* Degradado pastel naranja a lila */
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

.send-button:hover::before {
    opacity: 0.7; /* Reducimos la opacidad para que el texto sea más visible */
}

.send-button:hover {
    color: #f0f0f0; /* Mantenemos el color del texto blanco */
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Añadimos una sombra sutil para mejorar la legibilidad */
}

.send-button span {
    position: relative;
    z-index: 1;
}

.send-button:hover {
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6), -5px -5px 15px rgba(163, 177, 198, 0.6); /* Sombra invertida en hover */
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 80vmin;
    z-index: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 2s ease-in-out; /* Transición más larga y suave */
    filter: blur(30px);
    mix-blend-mode: screen; /* Mezcla aditiva */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease; /* Transición suave para el tamaño */
    animation: fadeIn 2s ease-in-out forwards;
}

.circle1 {
    width: 35vmin; /* Tamaño aumentado */
    height: 35vmin; /* Tamaño aumentado */
    background: radial-gradient(circle, #FF00FF, #00FFFF); /* Degradado radial */
    animation: orbit1 15s infinite linear;
}

.circle2 {
    width: 40vmin; /* Tamaño ajustado */
    height: 40vmin; /* Tamaño ajustado */
    background: radial-gradient(circle, #FF4500, #1E90FF); /* Nueva combinación de colores */
    animation: orbit2 20s infinite ease-in-out alternate;
}

.circle3 {
    width: 40vmin; /* Tamaño aumentado */
    height: 40vmin; /* Tamaño aumentado */
    background: radial-gradient(circle, #FFFF00, #00c3ff); /* Degradado radial */
    animation: orbit3 18s infinite ease-in-out;
}

.circle4 {
    width: 30vmin; /* Tamaño aumentado */
    height: 30vmin; /* Tamaño aumentado */
    background: radial-gradient(circle, #FFD700, #8A2BE2); /* Degradado radial */
    animation: orbit4 22s infinite ease-in-out alternate-reverse;
}


/* Trayectorias menos dispersas */
@keyframes orbit1 {
    0% { transform: translate(-50%, -50%) translate(0, 0); }
    25% { transform: translate(-50%, -50%) translate(10vmin, 5vmin); }
    50% { transform: translate(-50%, -50%) translate(0, 10vmin); }
    75% { transform: translate(-50%, -50%) translate(-10vmin, 5vmin); }
    100% { transform: translate(-50%, -50%) translate(0, 0); }
}

@keyframes orbit2 {
    0% { transform: translate(-50%, -50%) translate(0, 0); }
    25% { transform: translate(-50%, -50%) translate(15vmin, -10vmin); }
    50% { transform: translate(-50%, -50%) translate(0, -20vmin); }
    75% { transform: translate(-50%, -50%) translate(-15vmin, -10vmin); }
    100% { transform: translate(-50%, -50%) translate(0, 0); }
}

@keyframes orbit3 {
    0% { transform: translate(-50%, -50%) translate(0, 0); }
    25% { transform: translate(-50%, -50%) translate(8vmin, 12vmin); }
    50% { transform: translate(-50%, -50%) translate(0, 16vmin); }
    75% { transform: translate(-50%, -50%) translate(-8vmin, 12vmin); }
    100% { transform: translate(-50%, -50%) translate(0, 0); }
}

@keyframes orbit4 {
    0% { transform: translate(-50%, -50%) translate(0, 0); }
    25% { transform: translate(-50%, -50%) translate(12vmin, -8vmin); }
    50% { transform: translate(-50%, -50%) translate(0, -16vmin); }
    75% { transform: translate(-50%, -50%) translate(-12vmin, -8vmin); }
    100% { transform: translate(-50%, -50%) translate(0, 0); }
}

/* Estilos para los botones del reproductor de audio */
.audio-player {
    position: relative;
    z-index: 3; /* Asegura que los botones estén por encima de todo */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0;
}

.neu {
    box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #a3b1c6a8;
    background: #f0f0f0;
    border-radius: 2em;
    border: 0;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Esto hace que el botón sea perfectamente redondo */
    padding: 0; /* Eliminamos el padding para asegurar que sea redondo */
    margin: 5px;
    border-radius: 30px;
    color: #7e8a98;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn.lg {
    font-size: 1em;
}

.btn:hover {
    color: #5a6674;
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #babecc;
}

.btn:active {
    cursor: pointer;
    box-shadow: inset -5px -5px 15px 0px #ffffff9e, inset 5px 5px 15px 0px #a3b1c6a8;
}

.alchemical-symbol-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vmin;
    height: 60vmin;
    z-index: 1;
    pointer-events: none;
}

.alchemical-symbol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.alchemical-symbol.outer {
    animation: rotate-clockwise 20s linear infinite;
}

.alchemical-symbol.inner {
    animation: rotate-counterclockwise 15s linear infinite;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* Eliminada la animación @keyframes pulse */

/* Estilos específicos para los botones de audio si es necesario */


/* Estilos para los botones de redes sociales */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* ... resto de los estilos ... */

.email-input, .send-button {
    transition: all 0.5s ease;
}

.shrink {
    /*width: 30px;
    padding: 0;
    margin: 0;*/
    opacity: 0;
    overflow: hidden;
}

.confirmation-text {
    font-size: 1.2em;
    color: #343434;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 40px;
}

.hidden {
    display: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
}